<a href="https://colab.research.google.com/github/DiegoZapata0804/Ciencia-de-datos/blob/master/Lab1_SED.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
%%bash
cat > data.csv << EOF
12/03/13;A;1;100,0
05/12/13;a;1;100,0
25/02/13;B;2;200,0
04/04/13;N;1;\N
21/06/13;\N;;
13/06/14;A;;n
12/05/14;C;\N;
05/09/14;\n;3;150,1
12/05/14;a;2;\N
28/02/13;c;\N;\N
02/08/14;A;2;100,0
1/9/2014;A;3;100,4
EOF

In [3]:
#Valores iniciales válidos
%%bash
sed 's/\b\([0-9]\)\//0\1\//' data.csv >out1.txt
cat out1.txt

12/03/13;A;1;100,0
05/12/13;a;1;100,0
25/02/13;B;2;200,0
04/04/13;N;1;\N
21/06/13;\N;;
13/06/14;A;;n
12/05/14;C;\N;
05/09/14;\n;3;150,1
12/05/14;a;2;\N
28/02/13;c;\N;\N
02/08/14;A;2;100,0
01/9/2014;A;3;100,4

In [4]:
%%bash
sed 's/\([a-z]\)/\u\1/g' out1.txt > out2.txt
sed 's/;;/;\\N;/g' out2.txt >out3.txt
sed 's/;$/;\\N/g' out3.txt >out4.txt
sed 's/\\n/\\N/g' out4.txt >out5.txt
sed 's/;N/;\\N/g' out5.txt>data_inicial.txt
cat data_inicial.txt

12/03/13;A;1;100,0
05/12/13;A;1;100,0
25/02/13;B;2;200,0
04/04/13;\N;1;\N
21/06/13;\N;\N;\N
13/06/14;A;\N;\N
12/05/14;C;\N;\N
05/09/14;\N;3;150,1
12/05/14;A;2;\N
28/02/13;C;\N;\N
02/08/14;A;2;100,0
01/9/2014;A;3;100,4

In [5]:
%%bash
#Convierta el formato de las fechas de DD/MM/YY a YYYY-MM-DD.
sed -n '1,$p' data_inicial.txt

12/03/13;A;1;100,0
05/12/13;A;1;100,0
25/02/13;B;2;200,0
04/04/13;\N;1;\N
21/06/13;\N;\N;\N
13/06/14;A;\N;\N
12/05/14;C;\N;\N
05/09/14;\N;3;150,1
12/05/14;A;2;\N
28/02/13;C;\N;\N
02/08/14;A;2;100,0
01/9/2014;A;3;100,4

In [6]:
%%bash
sed 's/\/\([0-9]\)\([0-9]\);/\/20\1\2;/' data_inicial.txt>out6.txt
sed 's|/\([0-9]\)/|/0\1/|' out6.txt>out7.txt
sed 's|\([0-9]*\)/\([0-9]*\)/\([0-9]*\);|\3-\2-\1;|' out7.txt>out8.txt
cat out8.txt

2013-03-12;A;1;100,0
2013-12-05;A;1;100,0
2013-02-25;B;2;200,0
2013-04-04;\N;1;\N
2013-06-21;\N;\N;\N
2014-06-13;A;\N;\N
2014-05-12;C;\N;\N
2014-09-05;\N;3;150,1
2014-05-12;A;2;\N
2013-02-28;C;\N;\N
2014-08-02;A;2;100,0
2014-09-01;A;3;100,4

In [8]:
#Transforme el archivo para que todos los campos nulos aparezcan como \N.
%%bash
sed -e 's|;;|\\N|g' -e 's|;$|\\N|g' out8.txt>out9.txt
sed 's|;\([0-9]*\),|;\1.|g' out9.txt>out10.txt
sed 's|;|,|g' out10.txt>out11.txt

cat out11.txt

2013-03-12,A,1,100.0
2013-12-05,A,1,100.0
2013-02-25,B,2,200.0
2013-04-04,\N,1,\N
2013-06-21,\N,\N,\N
2014-06-13,A,\N,\N
2014-05-12,C,\N,\N
2014-09-05,\N,3,150.1
2014-05-12,A,2,\N
2013-02-28,C,\N,\N
2014-08-02,A,2,100.0
2014-09-01,A,3,100.4

In [0]:
#Código consolidado
%%bash
cat > data.csv << EOF
12/03/13;A;1;100,0
05/12/13;a;1;100,0
25/02/13;B;2;200,0
04/04/13;N;1;\N
21/06/13;\N;;
13/06/14;A;;n
12/05/14;C;\N;
05/09/14;\n;3;150,1
12/05/14;a;2;\N
28/02/13;c;\N;\N
02/08/14;A;2;100,0
1/9/2014;A;3;100,4
EOF

sed 's/\b\([0-9]\)\//0\1\//' data.csv >out1.txt
sed 's/\([a-z]\)/\u\1/g' out1.txt > out2.txt
sed 's/;;/;\\N;/g' out2.txt >out3.txt
sed 's/;$/;\\N/g' out3.txt >out4.txt
sed 's/\\n/\\N/g' out4.txt >out5.txt
sed 's/;N/;\\N/g' out5.txt>data_inicial.txt
cat data_inicial.txt

#Convierta el formato de las fechas de DD/MM/YY a YYYY-MM-DD.
sed -n '1,$p' data_inicial.txt
sed 's/\/\([0-9]\)\([0-9]\);/\/20\1\2;/' data_inicial.txt>out6.txt
sed 's|/\([0-9]\)/|/0\1/|' out6.txt>out7.txt
sed 's|\([0-9]*\)/\([0-9]*\)/\([0-9]*\);|\3-\2-\1;|' out7.txt>out8.txt
sed -e 's|;;|\\N|g' -e 's|;$|\\N|g' out8.txt>out9.txt
sed 's|;\([0-9]*\),|;\1.|g' out9.txt>out10.txt
sed 's|;|,|g' out10.txt>out11.txt
cat out11.txt