<a href="https://colab.research.google.com/github/DiegoZapata0804/Ciencia-de-datos/blob/master/Lab2_Bash.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
%%bash
cat > data1.csv <<EOF
E	jjj:3,bbb:0,ddd:9,ggg:8,hhh:2
A	ccc:2,ddd:0,aaa:3,hhh:9
B	ddd:2,ggg:5,ccc:6,jjj:1
EOF

cat >data2.csv <<EOF
A	hhh:9,iii:5,eee:7,bbb:1
C	iii:6,ddd:5,eee:4,jjj:3
EOF

cat >data3.csv <<EOF
A	bbb:2,hhh:0,ccc:4,fff:1,aaa:7
A	aaa:5,fff:8,ddd:2,iii:0,jjj:7,ccc:1
B	fff:3,hhh:1,ddd:2
EOF

In [0]:
%%bash
ls *.csv >var2

In [3]:
%%bash
less data1.csv

E	jjj:3,bbb:0,ddd:9,ggg:8,hhh:2
A	ccc:2,ddd:0,aaa:3,hhh:9
B	ddd:2,ggg:5,ccc:6,jjj:1

In [261]:
%%bash
#nombre-linea-letra-conjunto

for filename in *.csv
do
  nline=$(wc -l $filename |cut -f1 -d' ')
  for i in $(seq 1 $nline)
  do  
        letter=$(sed -n "$i p" $filename| cut -c 1-2)
        ncol=$(sed -n "$i p" $filename|cut -d" " -f2| tr "," "\n"|wc -l |cut -c 1-2)
        bloq=($(sed -n "$i p" $filename |cut -d" " -f2| tr "," "\n"))
        
        for l in $(seq 1 $ncol)
        do
              echo $filename $i $letter ${bloq[l]}
        done
  done
done

data1.csv 1 E jjj:3
data1.csv 1 E bbb:0
data1.csv 1 E ddd:9
data1.csv 1 E ggg:8
data1.csv 1 E hhh:2
data1.csv 2 A ccc:2
data1.csv 2 A ddd:0
data1.csv 2 A aaa:3
data1.csv 2 A hhh:9
data1.csv 3 B ddd:2
data1.csv 3 B ggg:5
data1.csv 3 B ccc:6
data1.csv 3 B jjj:1
data2.csv 1 A hhh:9
data2.csv 1 A iii:5
data2.csv 1 A eee:7
data2.csv 1 A bbb:1
data2.csv 2 C iii:6
data2.csv 2 C ddd:5
data2.csv 2 C eee:4
data2.csv 2 C jjj:3
data3.csv 1 A bbb:2
data3.csv 1 A hhh:0
data3.csv 1 A ccc:4
data3.csv 1 A fff:1
data3.csv 1 A aaa:7
data3.csv 2 A aaa:5
data3.csv 2 A fff:8
data3.csv 2 A ddd:2
data3.csv 2 A iii:0
data3.csv 2 A jjj:7
data3.csv 2 A ccc:1
data3.csv 3 B fff:3
data3.csv 3 B hhh:1
data3.csv 3 B ddd:2